{% extends 'base.html' %}

{% block start %}

    <div class="container mt-5 card p-3 shadow-lg">
      <form class="col-6 mx-auto" method="POST" enctype="multipart/form-data">      {% csrf_token %}

        <h2 style="text-align: center;">Login</h2><hr>

        <!-- Django Messages -->

          {% if messages %}

            <div class="alert alert-primary" role="alert">
                <ul class="messages">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}


        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>

        <p>Don't have an account <u><a href="/register">register here</a></u></p>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>

{% endblock %}